@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  display: flex;
  height: 100vh;
  width: 100%;
  max-height: 756px;
    min-height: 600px;
  background-color: #f2f2f2;
  position: relative;
  overflow: hidden;
  /* выше установили ограничения для секции */
}
.logo {
  width: 183px;
  height: 32px;
}
.rotation {
  animation: rotation linear infinite 20s;
}
.logo_place_header {
  align-self: flex-start;
  position: absolute;
  top: 30px;
  left: 64px;
}
.header__title {
  display: flex;
  align-items: center;
  width: 730px;
  z-index: 9;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  margin: 0 0 0 64px;
}
.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  z-index: 98;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}
.header__link {
  text-decoration: none;
  color: #2f80ed;
}
.header__link:hover {
  opacity: 0.1;
  transition: opacity 1.5s .05s ease-in-out;
}
.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
  z-index: 1;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}
.description {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.two-columns__brief {
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-weight: normal;
  font-size: 18px;
  margin: 0;
}
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}
.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30px;
  margin-top: 0;
}
.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}
.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}
.techniques {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
}
.cards {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  list-style: none;
  width: 920px;
  margin: 0 auto 0;
  padding-left: 0;
}
.cards__item {
  text-align: center;
  width: 240px;
  margin-right: 100px;
  padding-top: 60px;
}
.cards__item:nth-child(3) {
  margin-right: 0;
}
.cards__image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin: 0 40px 43px;
}
.cards__title {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
.cards__description {
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  margin: 16px 0 0;
}
.video__iframes {
  display: flex;
  justify-content: center;
  position: relative;
  top: 50px;
}
.video__iframe {
  width: 515px;
  height: 316px;
  margin-right: 20px;
  border: none;
}
.video__iframe:last-of-type {
  margin-right: 0;
}
.oakley {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  padding-top: 160px;
}
.feynman {
  display: flex;
  min-height: 890px;
  background-color: #f2f2f2;
  position: relative;
  flex-direction: column;
  align-items: center;
}
.feynman__img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 867px;
  height: 637px;
}
.feynman__title {
  display: flex;
  justify-content: center;
  width: 648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  margin-top: 100px;
  margin-bottom: 0;
  z-index: 1;
}
.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}
.feynman__link:hover {
  opacity: 0.1;
  transition: opacity 1.5s .05s ease-in-out;
}
.feynman__subtitle {
  display: flex;
  justify-content: center;
  margin: 70px 0 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
}
.section-title {
  display: flex;
  justify-content: center;
  margin: 100px auto 0;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}
.section-subtitle {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 20px auto 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.table {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  margin: 0 auto 100px;
  padding: 0;
  width: 1100px;
}
.table__cell {
  margin-top: 60px;
  width: 250px;
  z-index: 1;
}
.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.table__text {
  display: flex;
  flex-direction: column;
  margin: 20px 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.khan {
  background-color: #f2f2f2;
  display: flex;
}
.khan__container {
  display: flex;
  flex-direction: column;
  margin: 105px auto 0;
  width: 80%;
}
.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
}
.khan__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}
.khan__quote {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 790px;
  margin: 50px 0 0;
}
.khan__quote-author {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 36px 0 10px;
}
.khan__quote-author-subline {
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}
.khan__book-container {
  display: flex;
  justify-content: flex-start;
  margin: 68px 0 0;
}
.khan__book-pic {
  width: 620px;
  height: 608px;
  margin: 0 48px 0 0;
  object-fit: cover;
  object-position: top;
}
.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}
.khan__buy-link:hover {
  opacity: 0.1;
  transition: opacity 1.5s ease-in-out .05s;
}
.kaufman {
  display: flex;
  flex-direction: column;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
}
.section-title_theme_dark {
  margin-top: 90px;
  color: white;
}
.section-subtitle_theme_dark {
  color: white;
}
.table_theme_dark {
  margin-bottom: 90px;
}
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-left: 0;
  margin-top: 80px;
}
.kaufman__triangle {
  top: 0;
  position: absolute;
  right: -210px;
  width: 877px;
  height: 877px;
  background-image: url("../images/kaufman-triangle.svg");
  background-size: contain;
}
.resources {
  display: flex;
  flex-direction: column;
}
.resources__logo-zone {
  width: 1100px;
  margin: 80px auto 217px;
  display: flex;
  justify-content: space-between;
}
.resources__logo {
  width: 270px;
  height: 38px;
  margin: 0;
  list-style-type: none;
  text-align: center;
  text-decoration: none;
}
.resources__logo:hover {
  opacity: 0.1;
  transition: opacity .05s ease-out;
}
.footer {
  display: flex;
  position: relative;
  background-color: #1f1f1f;
  min-height: 350px;
}
.logo_place_footer {
  display: flex;
  align-self: flex-start;
  width: 183px;
  height: 35px;
}
.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 60px auto 40px;
}
.footer__author {
  color: white;
  align-self: flex-start;
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin-top: 0;
  margin-bottom: 20px;
}
.footer__column-links {
  display: flex;
  flex-direction: column;
  margin: 0 0 16px;
  list-style-type: none;
  padding: 0;
}
.footer__column-link {
  text-decoration: none;
  line-height: 30px;
  color: white;
  font-size: 18px;
  font-weight: normal;
}
.footer__column-link:hover {
  opacity: 0.1;
  transition: opacity 1.5s ease-out;
}
.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.footer__column_content_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}
.footer__column_content_social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer__column-link:last-of-type {
  margin-bottom: 16px;
}




