.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  display: flex;
  height: 100vh;
  width: 100%;
  max-height: 756px;
    min-height: 600px;
  background-color: #f2f2f2;
  position: relative;
  /* выше установили ограничения для секции */
}
.logo {
  width: 183px;
  height: 32px;
}
.logo_place_header {
  align-self: flex-start;
  position: absolute;
  top: 30px;
  left: 64px;
}
.header__title {
  display: flex;
  align-items: center;
  width: 730px;
  margin-left: 64px;
  z-index: 99;
}
.header__subtitle {
  position: absolute;
  margin-bottom: 0;
  bottom: 30px;
  left: 64px;
  width: 388px;
  z-index: 98;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.header__link {
  text-decoration: none;
}
.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
  z-index: 1;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}
h1 {
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}
.description {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 100px;
}
.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.two-columns__brief {
  width: 175px;
  margin-top: 0;
}
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}
.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30px;
  margin-top: 0;
}
.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}
.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}
h6 {
  color: #2f80ed;
  line-height: 1.2;
  font-weight: normal;
  font-size: 18px;
}
.section-title {
  display: flex;
  justify-content: center;
  margin: 100px auto 0;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}
.section-subtitle {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 20px auto 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.table {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  margin: 0 auto 100px;
  padding: 0;
  width: 1100px;
}
.table__cell {
  margin-top: 60px;
  width: 250px;
}
.table__heading {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.table__text {
  display: flex;
  flex-direction: column;
  margin: 20px 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.feynman {
  display: flex;
  height: 890px;
  background-color: #f2f2f2;
  position: relative;
  flex-direction: column;
  align-items: center;
  z-index: -2;
}
.feynman__img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 867px;
  height: 637px;
  z-index: -1;
}
.feynman__title {
  display: flex;
  justify-content: center;
  width: 648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  margin-top: 100px;
  margin-bottom: 0;
}
.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
}
.feynman__subtitle {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
