.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  height: 0;
  transition: opacity 1s ease-in-out .05s;
}
.khan__buy-link:hover {
  opacity: 0.1;
}
